* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* body {
} */

.container {
	width: 100vw;
	height: 100vh;
	background-color: hsl(225, 100%, 94%);
}

.container::before {
	content: '';
	display: block;
	height: 50vh;
	background-image: url('../img/pattern-background-desktop.svg');
	background-size: cover;
	background-position: bottom;
	z-index: 2;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: hsl(225, 100%, 98%);
}
